<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c75d0642-d0c1-4a42-b331-690da6b4fee6/resourcegroups/tweeterResourseGroup/providers/Microsoft.Web/sites/tweeter-write</ResourceId>
    <ResourceGroup>tweeterResourseGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/c75d0642-d0c1-4a42-b331-690da6b4fee6/resourceGroups/tweeterResourseGroup/providers/Microsoft.ApiManagement/service/tweeter-read/apis/tweeter-write</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tweeter-write.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>aa5d00c9-c3cd-4a12-a9f6-b85972bcf71f</ProjectGuid>
    <MSDeployServiceURL>tweeter-write.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tweeter-write</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$tweeter-write</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>